* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

img {
    vertical-align:bottom;
}

ul,li{
    list-style-type: none;
}

html {
    width: 100vw;
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    color: black
}